<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfrz.javaprojectstage3.mapper.StepMapper">


    <select id="getPetitionPagebyCurrentuser" resultType="Petition">
           SELECT a.* FROM t_petition a
INNER JOIN (
	SELECT
		*
	FROM
		t_step
	WHERE
		examine_user#{examineuser} = #{userid}
) b ON a.id = b.petition_id AND a.petition_state= #{petitionstate}
    </select>


	<select id="getUserListByDepartment" resultType="User">
 SELECT a.*
        FROM
        t_users a
        WHERE
        department = #{department,jdbcType=VARCHAR} AND a.role=#{role}
    </select>


</mapper>