<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8">
    <title>信访管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">信访管理系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">

        <li class="layui-nav-item">
            <a>欢迎： <span shiro:principal property="department" href="javascript:;"></span> <span shiro:principal
                                                                                                 property="realname"
                                                                                                 href="javascript:;"></span>
                登录！</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="./user/logout">退出</a></dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li id="userEdit">
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>员工管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="./user/toUserList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>员工列表</cite>

                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>信访件管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">

                    <li shiro:hasAnyRoles="user,agent">
                        <a _href="./petition/toPetitionList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>信访件列表</cite>
                        </a>
                    </li>
                    <li shiro:hasAnyRoles="manager,leader">
                        <a _href="./examine1/toExamineList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>信件审批</cite>
                        </a>
                    </li>
                    <li shiro:hasAnyRoles="agent,manager,leader,">
                        <a _href="./petition/toMyPetitionList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的信访件</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li shiro:hasAnyRoles="agent,manager,leader">
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a _href="admin-role.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="./permission/tree">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="./notice/tonotice">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>公告管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>公司统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="echarts1.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>信访件统计</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts2.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>请假统计</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="echarts3.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工资统计</cite>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="./user/logout">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>退出系统</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>

            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='./welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2021 x-admin v2.3 All Rights Reserved</div>
</div>
</body>
<!-- 添加Tab窗体 -->
<script>
    function addTab(name, href, id) {
        var lid = 1;
        layui.use('element', function () {
            for (var i = 1; i < $(".layui-tab-title li").length; i++) {
                if ($(".layui-tab-title li").eq(i).attr("lay-id") == lid) {
                    element.tabChange("xbs_tab", lid);
                    return;
                }
            }
            // 新增一个Tab选项
            element.tabAdd("xbs_tab", {
                title: name + id,
                content: "<iframe frameborder='0' src='" + href + "'></iframe>",
                id: lid
            });
            // 外部切换到指定的Tab项上
            element.tabChange("xbs_tab", lid);
        });
    }


    $.ajax({
        url: "user/userEdit",
        success: function (data) {
            if (data) {
                $("#userEdit").attr("style","display:content");

            } else {
                $("#userEdit").attr("style","display:none");
            }
        }
    });



</script>
</html>