<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" th:href="@{/css/font.css}" >
      <link rel="stylesheet" th:href="@{/css/xadmin.css}">
      <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script th:src="@{/lib/layui/layui.js}"  charset="utf-8"></script>
      <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

    <div class="x-body layui-anim layui-anim-up">
        <!--id-->
        <div class="layui-form-item">
            <label for="L_id" class="layui-form-label">
                <span class="x-red">*</span>id
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_id" name="id" th:value="${notice.id}"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!-- <span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div>
        <!--标题-->
        <div class="layui-form-item">
            <label for="L_title" class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_title" name="title" th:value="${notice.title}"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!-- <span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div><!--1-->
        <!--内容-->
        <div class="layui-form-item">
            <label for="L_content" class="layui-form-label">
                <span class="x-red">*</span>公告内容
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_content" name="content" th:value="${notice.content}"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!-- <span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div>
        <!--公告类型-->
        <div class="layui-form-item">
            <label for="L_type" class="layui-form-label">
                <span class="x-red">*</span>公告类型
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_type" name="type" th:value="${notice.type}"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!-- <span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div>
        <!--发布者-->
        <div class="layui-form-item">
            <label for="L_user_id" class="layui-form-label">
                <span class="x-red">*</span>发布者
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_user_id" name="user_id" th:value="${notice.userId}"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!-- <span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div>

    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步
              $.ajax({
                  url:"./addAjax",
                  data:{uname:data.field.uname,upass:data.field.upass},
                  success:function (data) {
                      if(data.code==0){
                          layer.alert("增加成功", {icon: 6},function () {
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                          });
                      }
                      else{
                          layer.alert("登陆失败");
                      }

                  }
              });

            return false;
          });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>