<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--文本超出用...替代文本内容-->
    <style>
        .textOmit {
            /*宽度自定义*/
            width: 100%;
            /*超过的地方隐藏掉*/
            overflow: hidden;
            /*末尾超过的地方用...代替*/
            text-overflow: ellipsis;
            /*声明为弹性布局*/
            display: -webkit-box;
            /*声明显示的个数*/
            -webkit-line-clamp: 1;
            /*声明布局为垂直布局或水平布局*/
            -webkit-box-orient: vertical;
        }
    </style>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
                </input>
            </div>

            <label class="layui-form-label">
                <span class="x-red">*</span>收件时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="acceptTime" name="acceptTime"
                       required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>反映人姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" name="reflectName" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label">
                <span class="x-red">*</span>被反映人姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" name="bereflectName" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>被反映人岗位
            </label>
            <div class="layui-input-inline">
                <input type="text" name="bereflectPost" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label">
                <span class="x-red">*</span>被反映人部门
            </label>
            <div class="layui-input-inline">
                <input type="text" name="bereflectDepartment" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>举报内容
            </label>
            <div class="layui-input-inline">
            <textarea name="content" required lay-verify="required" placeholder="请输入"
                      class="layui-textarea" style="width: 500px;height: 180px"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-upload">
                <button type="button" class="layui-icon layui-icon-picture layui-btn uploadPic"
                        lay-data="{url: 'uploadImage'}"> 上传图片
                </button>
                <button type="button" class="layui-icon layui-icon-template-1 layui-btn layui-btn-normal uploadDoc"
                        lay-data="{url: 'uploadDoc',accept:'file',exts:'doc|pdf'}"> 上传DOC/PDF
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <ul class="layui-row layui-col-space10" id="hw_res"></ul>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-filter="addPetition" lay-submit="">
                添加
            </button>
            <button class="layui-btn" lay-filter="savePetition" lay-submit="">
                保存
            </button>
            <a class="layui-btn" href="javascript:" onclick="x_admin_close()">
                取消
            </a>
        </div>
    </form>
</div>
<script>
    // 失焦验证编号是否存在
    $("#code").on("blur", function () {
        if (codeVerification() == true) {
            layer.msg("该编号已存在");
        }
    });

    // 验证编号是否存在
    function codeVerification() {
        var flag;
        $.ajax({
            url: "codeVerification",
            data: {code: $("#code").val()},
            async: false,
            dataType: "text",
            success: function (data) {
                console.log(data);
                if (data == "true") {
                    flag = true;
                } else {
                    flag = false;
                }
            }
        });
        return flag;
    }

    // 附件数组
    var upload_arr = [];
    // 删除点击图片
    $("ul").on("click",".textOmit", function () {
        var index = $(this).closest("li").index();
        upload_arr.splice(index, 1);
        $(this).closest("li").remove();
        console.log(upload_arr);
    });

    // 布置作业相关信息
    layui.use(['form', 'layer', 'upload', 'laydate'], function () {
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;

        // 监听添加
        form.on('submit(addPetition)', function (data) {
            if (codeVerification() == true) {
                layer.msg("编号已存在,禁止添加");
                return false;
            }
            // 作业对象
            var petition = new Object();
            petition.dataField = data.field;
            petition.arr = upload_arr;
            // 转成JSON格式
            var petitionJSON = JSON.stringify(petition);
            // 发异步，把数据提交给php
            $.ajax({
                url: "addPetition",
                data: {petitionJSON: petitionJSON, state: 1}, // 1为添加
                success: function (data) {
                    if (data.flag == "true") {
                        layer.msg("添加成功",
                            {icon: 6,time:1500, shade:0.4}, function () {
                            //获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                                // 刷新信访件列表
                                window.parent.tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                        });
                    } else {
                        layer.msg("添加失败", {icon: 5,time:1500, shade:0.4});
                    }
                }
            });
            return false;
        });

        // 监听保存
        form.on('submit(savePetition)', function (data) {
            if (codeVerification() == true) {
                layer.msg("编号已存在,禁止保存");
                return false;
            }
            // 作业对象
            var petition = new Object();
            petition.dataField = data.field;
            petition.arr = upload_arr;
            // 转成JSON格式
            var petitionJSON = JSON.stringify(petition);
            // 发异步，把数据提交给php
            $.ajax({
                url: "addPetition",
                data: {petitionJSON: petitionJSON, state: 0}, // 0为保存
                success: function (data) {
                    if (data.flag == "true") {
                        layer.msg("保存成功",
                            {icon: 6,time:1500, shade:0.4}, function () {
                                //获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                                // 刷新信访件列表
                                window.parent.tableIns.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            });
                    } else {
                        layer.msg("保存失败", {icon: 5,time:1500, shade:0.4});
                    }
                }
            });
            return false;
        });

        //执行一个laydate日期选择
        laydate.render({
            elem: '#acceptTime' //指定元素
            , type: 'datetime'
        });

        //得到 upload 对象
        var upload = layui.upload;
        // 上传图片
        upload.render({
            elem: '.uploadPic'
            , done: function (res, index, upload) {
                //上传完毕回调
                if (res.code == 0) {
                    layer.msg("上传成功");
                    // 回显
                    var content =
                        "<li class=\"layui-col-xs2 \">\n" +
                        "   <div class=\"layui-card layui-bg-gray\">\n" +
                        "       <div class=\"layui-card-header\">\n" +
                        "           <span>\n" +
                        "               <a>" +
                        "                   <i class='layui-icon textOmit'>&#x1007;" + res.data.src + "</i>" +
                        "               </a>" +
                        "           </span>\n" +
                        "       </div>\n" +
                        "       <div class=\"layui-card-body\">\n" +
                        "           <img onclick='clickPicture(this)' width='80px' height='70px' src='" + "../upload/petition/picture/" + res.data.src + "'>\n" +
                        "       </div>\n" +
                        "   </div>\n" +
                        "</li>"
                    ;
                    $("#hw_res").append(content);
                    // 构建附件对象添加至数组中
                    var res_object = new Object();
                    res_object.fileName = res.data.src;
                    res_object.type = 1;
                    upload_arr.push(res_object);
                } else {
                    layer.msg("上传失败");
                }
            }
        });

        // 上传DOC
        upload.render({
            elem: '.uploadDoc'
            , done: function (res, index, upload) {
                //上传完毕回调
                if (res.code == 0) {
                    layer.msg("上传成功");
                    // 回显
                    var content =
                        "<li class=\"layui-col-xs2 \">\n" +
                        "   <div class=\"layui-card layui-bg-gray\">\n" +
                        "       <div class=\"layui-card-header\">\n" +
                        "           <span>" +
                        "               <a><i class='layui-icon textOmit'>&#x1007;" + res.data.src + "</i></a>" +
                        "           </span>\n" +
                        "       </div>\n" +
                        "       <div class=\"layui-card-body\">\n" +
                        "           <img onclick='previewPdf(\""+ res.data.src +"\")' width='80px' height='70px' src='../images/DOC.jpg'>\n" +

                        "       </div>\n" +
                        "   </div>\n" +
                        "</li>"
                    ;
                    $("#hw_res").append(content);
                    // 构建附件对象添加至数组中
                    var res_object = new Object();
                    res_object.fileName = res.data.src;
                    res_object.type = 2;
                    upload_arr.push(res_object);
                } else {
                    layer.msg("上传失败");
                }
            }
        });
    });

    // 鼠标移至图片上方,鼠标样式变为手状态
    $("ul").on("mouseover", "img", function () {
        this.style.cursor = "pointer";
    });

    // 图片点击预览,ul为父类元素,img为已存在元素或者未来生成元素
    // $("ul").on("click", "img", function () {
    //     clickPicture(this);
    // });

    // 点击图片放大预览
    function clickPicture(obj) {
        var img = new Image();
        img.src = obj.src;
        img.onload = function (ev) {
            // 获取图片高度
            var height = this.height;
            // 获取图片宽度
            var width = this.width;
            // 图片URL地址
            var imgHtml = "<img style='height: 100%;width: 100%' src='" + obj.src + "' />";
            // 图片显示面积,前参数为宽,后参数为高
            var area = [];
            if (height <= 747 && width <= 1680) {
                area = [width + 'px', height + 'px'];
            } else if (height > 747 && width <= 1680) {
                area = [width + 'px', 747 + 'px'];
            } else if (height <= 747 && width > 1680) {
                area = [1680 + 'px', height + 'px'];
            } else {
                area = [1680 + 'px', 747 + 'px'];
            }
            //弹出层
            top.layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: area,
                shadeClose: true,//点击外围关闭弹窗
                scrollbar: false,//不显示滚动条
                title: false, //不显示标题
                content: imgHtml, //捕获的元素
                cancel: function () {
                    //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                }
            });
        };
    }

    // PDF/DOC预览
    function previewPdf(file) {
        var strFile =  file.substring(file.lastIndexOf(".") + 1);
        if (strFile == "doc" || strFile == "DOC") {
            file = file.substring(0,file.indexOf("."));
            file = file + ".PDF";
        }
        var url = "../../../upload/petition/doc/" + file;
        layui.use('layer', function () {
            var layer = layui.layer;
            //弹出层
            top.layer.open({
                type: 2,
                shade: 0.8,
                offset: 'auto',
                area: ['1000px','700px'],
                shadeClose: true,//点击外围关闭弹窗
                scrollbar: false,//不显示滚动条
                title: false, //不显示标题
                content: "./plugins/pdfjs/web/viewer.html?file=" + url, //捕获的元素
                cancel: function () {
                    //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                }
            });
        });
    }
</script>
</body>

</html>