<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a>首页</a>
        <a>
          <cite>我的信访件</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start" autocomplete="off">
            <input class="layui-input" placeholder="截止日" name="end" id="end" autocomplete="off">
            <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table id="list" lay-filter="list"></table>
    <script>
        var tableIns;
        layui.use(['laydate', 'form', 'layer', 'table'], function () {
            var table = layui.table;
            var laydate = layui.laydate;
            var form = layui.form;
            var layer = layui.layer;
            //所获得的 tableIns 即为当前容器的实例
            tableIns = table.render({
                elem: '#list'
                , height: 550
                , url: 'getMyPetitionList' //数据接口
                ,where: { //设定异步数据接口的额外参数，任意设
                    startTime: null
                    ,endTime: null
                }
                , page: true //开启分页
                , cols: [ //设置表头
                    [
                        //表头
                        {
                            field: 'code', title: '编号', width: 80, fixed: 'left', align: 'center'
                        }
                        , {
                        field: 'contentType', title: '内容分类', width: 110, align: 'center'
                        , templet: function (data) {
                            if (data.contentType == 0) {
                                return "<span class='layui-badge layui-bg-gray'>无</span>";
                            }
                            else if (data.contentType == 1) {
                                return "<span class='layui-badge layui-bg-orange'>客户服务</span>";
                            }
                            else if (data.contentType == 2) {
                                return "<span class='layui-badge layui-bg-blue'>VIP服务</span>";
                            }
                        }
                    }
                        , {
                        field: 'petitionType', title: '信源分类', width: 110, align: 'center'
                        , templet: function (data) {
                            if (data.petitionType == 0) {
                                return "<span class='layui-badge layui-bg-gray'>无</span>";
                            }
                            else if (data.petitionType == 1) {
                                return "<span class='layui-badge layui-bg-orange'>公司信源</span>";
                            }
                            else if (data.petitionType == 2) {
                                return "<span class='layui-badge layui-bg-blue'>城市信源</span>";
                            }
                        }
                    }
                        , {field: 'reflectName', title: '反映人', width: 110, align: 'center'}
                        , {field: 'bereflectName', title: '被反映人', width: 110, align: 'center'}
                        , {field: 'acceptTime', title: '收件时间', width: 180, align: 'center'}
                        , {
                        field: 'petitionState', title: '处理状态', width: 110, align: 'center'
                        , templet: function (data) {
                            if (data.petitionState == 0) {
                                return "<span class='layui-badge layui-bg-green'>草稿</span>";
                            }
                            else if (data.petitionState == 1) {
                                return "<span class='layui-badge layui-bg-blue'>一级审批</span>";
                            }
                            else if (data.petitionState == 2) {
                                return "<span class='layui-badge layui-bg-orange'>二级审批</span>";
                            }
                            else if (data.petitionState == 3) {
                                return "<span class='layui-badge'>三级审批</span>";
                            }
                            else if (data.petitionState == -1) {
                                return "<span class='layui-badge layui-bg-red'>退回</span>";
                            }
                            else if (data.petitionState == -2) {
                                return "<span class='layui-badge layui-bg-green'>通过</span>";
                            }
                        }
                    }
                        , {title: '相关操作', fixed: 'right', width: 150, align: 'center', toolbar: '#toolBar'}
                    ]
                ]
                // 隐藏按钮
                ,done: function (res, curr, count) {
                    var arr = res.data;

                    for (var i = 0; i < arr.length; i++) {
                        var state = arr[i].petitionState;
                        // 编辑和删除按钮
                        if (state != 0) {
                            $($("table a[lay-event='edit']")[i]).hide();
                            $($("table a[lay-event='delete']")[i]).hide();
                        }
                        // 提交按钮
                        if (state != 1) {
                            $($("table a[lay-event='petitionSubmit']")[i]).hide();
                        }
                        // 查看按钮
                        if (state == 0 || state == 1) {
                            $($("table a[lay-event='view']")[i]).hide();
                        }
                        // 报告上传按钮
                        if (state >= 0) {
                            $($("table a[lay-event='reportUpload']")[i]).hide();
                        }
                    }
                }
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

            // 搜索功能
            form.on('submit(search)', function (data) {
                var startTime = data.field.start;
                var endTime = data.field.end;
                if (startTime > endTime) {
                    layer.msg("开始时间不能大于结束时间", {time: 1500});
                    return false;
                }

                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        startTime: startTime
                        ,endTime: endTime
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false;
            });

            //监听工具条
            table.on('tool(list)', function (obj) { //注：tool 是工具条事件名，list 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                // 查看
                if (layEvent === 'view') {
                    parent.addTab("查看编号", "petition/toPetitionView?petitionId=" + data.id, data.code);
                }
                // 编辑
                else if (layEvent === 'edit') {
                    x_admin_show("编辑", "toPetitionEdit?petitionId=" + data.id, 750, 400);
                }
                // 删除
                else if (layEvent === 'delete') {
                    //弹出确认框
                    layer.confirm('您确定要删除编号为' + data.code + '的信访件吗?',
                        {icon: 3, title: '提示'}, function (index) {
                            $.ajax({
                                url: "deletePetition",
                                data: {id: data.id},
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg("删除成功", {icon: 1, time: 1500}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg("删除失败", {icon: 2, time: 1500});
                                    }
                                    //关闭确认框
                                    layer.close(index);
                                }
                            });
                        });
                }
                // 提交
                else if (layEvent === 'petitionSubmit') {
                    x_admin_show("提交", "toPetitionSubmit?petitionId=" + data.id, 750, 400);
                }
                // 报告上传
                else if (layEvent === 'reportUpload') {
                    x_admin_show("报告上传", "toReportUpload?petitionId=" + data.id, 750, 400);
                }
            });
        });
    </script>

    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-xs layui-bg-green" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-bg-red" lay-event="delete">删除</a>
        <a shiro:hasRoles="agent" class="layui-btn layui-btn-xs layui-bg-orange" lay-event="petitionSubmit">提交</a>
        <a class="layui-btn layui-btn-xs layui-bg-cyan" lay-event="view">查看</a>
        <!--<a shiro:hasRole="agent" class="layui-btn layui-btn-xs layui-bg-black" lay-event="reportUpload">报告上传</a>-->
    </script>

</div>
</body>

</html>