<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>树组件</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<h2>权限管理</h2>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">请选择角色</label>
        <div class="layui-input-block" style="width: 120px;">
            <select lay-filter="selectForm" id="roleId" onchange="flag = 0">
                <option value="1">用户</option>
                <option value="2">经办人</option>
                <option value="3">经理</option>
                <option value="4">领导</option>
                <option value="5">管理员</option>
            </select>
        </div>
    </div>
</form>
<div id="tree"></div>
<script>
    var flag = 0;
    layui.use(['tree', 'form'], function () {

        // 初始化表单
        refreshTree();

        // 监听select
        var form = layui.form;
        form.on('select(selectForm)', function (data) {
            console.log(data.elem);
            console.log(data.value);
            console.log(data.othis);
            refreshTree();
        });

        // 初始化加载
        function refreshTree() {
            var roleId = $("#roleId").val();
            if (roleId == "" || roleId == undefined || roleId == null) {
                // 默认显示管理员
                roleId = 3;
            }

            // 获取树形表格数据
            var jsonData;
            $.ajax({
                url: "tree",
                data: {roleId: roleId},
                dataType: "json",
                async: false,
                success: function (data) {
                    jsonData = data.children;
                }
            });

            var tree = layui.tree;
            //渲染
            var inst1 = tree.render({
                elem: '#tree'  //绑定元素
                , data: jsonData
                , showCheckbox: true // 是否显示复选框
                , oncheck: function (obj) {
                    console.log(obj.data); //得到当前点击的节点数据
                    console.log(obj.checked); //得到当前节点的展开状态：open、close、normal
                    // 封装传递对象
                    var object = new Object();
                    object.roleId = $("#roleId").val();
                    object.checked = obj.checked;
                    object.data = obj.data;
                    var objectJSON = JSON.stringify(object);

                    $.ajax({
                        url: 'updatePermission',
                        data: {objectJSON: objectJSON},
                        dataType: 'text',
                        success: function (data) {
                            console.log(data);
                        }
                    });

                }
            });
        }
    })
</script>
</body>
</html>