<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}" >
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}"  charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加用户','../user/touseradd',600,400)"><i class="layui-icon"></i>添加用户</button>
      </xblock>

      <table id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="detail">详细信息</a>
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

    </script>
      <script>
      layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
          elem: '#demo'
          ,height: 315
            ,weight: 500
          ,url: './listAjax' //数据接口
          ,page: true //开启分页
          ,cols: [
                  [ //表头
            {field: 'id', title: 'ID', width:65, sort: true, fixed: 'left'}
            ,{field: 'username', title: '用户名', width:100}
            ,{field: 'realname', title: '姓名', width:100,}
            ,{field: 'department', title: '部门', width:170,}
            ,{field: 'role', title: '职位', width:170
                      ,templet:function (d) {
                          if(d.role=="2"){
                              return "<span type='text'>经办人员</span>";
                          }
                          else if (d.role=="3") {
                              return "<span type='text'>经理</span>";
                          }else{
                              return "<span type='text'>领导</span>";
                          }
                      }
                  }
            ,{field: 'status', title: '状态', width:100
                    ,templet:function (d) {
                        if(d.status=="0"){
                          return "<span class=\"layui-badge layui-bg-green\">启用</span>";
                        }
                        else{
                          return "<span class=\"layui-badge\">禁用</span>";
                        }
                    }
                  }
            ,{fixed: 'right',title: '操作', width:300, align:'center', toolbar: '#barDemo'}

          ]
          ]
        });

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
          var data = obj.data; //获得当前行数据
          var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
          var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

          if(layEvent === 'detail'){ //查看
            x_admin_show('查看用户','./todetails?id='+data.id,600,400)
          }
          else if(layEvent === 'del'){ //删除
              x_admin_show('查看用户','./todetails?id='+data.id,600,400)
                // layer.msg("【id="+data.id+"username="+data.username+"】")

          }
          else if(layEvent === 'edit'){ //编辑
            //do something
              x_admin_show('编辑用户','./todeit?id='+data.id,600,550)

            // //同步更新缓存对应的值
            // obj.update({
            //   username: '123'
            //   ,title: 'xxx'
            // });
          } else if(layEvent === 'LAYTABLE_TIPS'){
            layer.alert('Hi，头部工具栏扩展的右侧图标。');
          }
        });

      });

    </script>

    <script>



      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }

          });
      }
//1
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).delete("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>